apiVersion: v1
kind: ConfigMap
metadata:
  name: shipping
  namespace: robomart
data:
  CART_ENDPOINT: "{{ .Values.configMap.CART_ENDPOINT }}"
  DB_HOST: "{{ .Values.configMap.DB_HOST }}"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: shipping
  namespace: robomart
  labels: 
    project: {{ .Values.deployment.project }}
    component: {{ .Values.deployment.component }}
    tier: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      project: {{ .Values.deployment.project }}
      component: {{ .Values.deployment.component }}
      tier: backend
  template:
    metadata:
      labels:
        project: {{ .Values.deployment.project }}
        component: {{ .Values.deployment.component }}
        tier: backend
    spec:
      containers:
      - name: shipping
        image: "{{ .Values.deployment.imageRepo }}/{{ .Values.deployment.component }}:{{ .Values.deployment.imageVersion }}"
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: shipping
        ports:
        - name: liveness-port
          containerPort: 8080
        readinessProbe:
          httpGet:
            path: /health
            port: liveness-port
          failureThreshold: 1
          periodSeconds: 20
        livenessProbe:
          httpGet:
            path: /health
            port: liveness-port
          failureThreshold: 1
          periodSeconds: 30
